.container {
    margin-top: 50px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

.content__loan {
    position: relative;
    grid-column: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 15px rgba(24, 24, 24, 0.08);
    margin-bottom: 20px;
}

.content__title {
    width: 100%;
    background: var(--text-color-head);
    color: var(--txt-color-light);
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 10px 50px;
    font-size: 1rem;
    font-weight: 100;
    display: flex;
}

.new__loan{
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--bg-color-light);
    color: var(--text-color-head);
    cursor: pointer;
    font-weight: 500;
}

.new__loan:hover{
    color: var(--text-color-head-hover)
}

.icon-plus{
    padding-right: 5px;
    font-weight: bold;
}

.content__body {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    gap: 20px;
}

.table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid var(--bg-color-dark);
}

.table__head{
    background: var(--bg-color-dark);
    color: var(--txt-color-light);
}

.table__head-tr th{
    padding: 10px;
}

.table__body-tr:nth-child(2n){
    background: #c6c7c7;
}

.table__body-tr td{
    border: 1px solid var(--txt-color-secondary);
    padding: 10px;
    text-align: center;
}

.td__acciones{
    width: 120px;
    background: var(--bg-front-color);
}

.table__action-delete{
    display: block;
    text-decoration: none;
    border: 1px solid var(--color-error);
    padding: 2px;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    background: var(--color-error);
    color: var(--txt-color-light);
    margin-top: 5px ;
}

.table__action-edit{
    display: block;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: 2px;
    font-weight: 400;
    border-radius: 5px 5px 0 0;
    background: var(--primary-color);
    color: var(--txt-color-light);    
}


.loan__empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
}

.loan__empty-text{
    font-size: 1.5rem;
    color: var(--txt-color-lighblue);
}

.loan__empty-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--txt-color-lighblue);
    border-radius: 5px;
    color: var(--txt-color-light);
    cursor: pointer;
}

.form__loan{
    width: 100%;
}
.form__group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__group{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.input__control{
    width: 350px;
    padding: 5px;
    border:none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #838383;
}

.btn__loan{
    padding: 6px 20px;
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid #0275d8;
    background-color: var(--txt-color-lighblue);
    color: var(--bg-color-light);
    cursor: pointer;
}


.books__filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:5px
}

.container__books{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid var(--txt-color-secondary);
    padding-bottom: 10px;
}

.book__cover{
    width: 100px;
}

.book__details{
    display: flex;
    flex-flow: column;
    /* gap: 5px; */
}

.book__title{
    font-size: 1.5rem;
}

.book__autor{
    font-size: 0.7rem;
    color: var(--txt-color-secondary);
    font-weight: 400;
    margin-bottom: 10px;
}

.book__sinopsis{
    color: #252623;   
    font-size: 0.9rem;
}


@media screen and (max-width: 1100px) {
    .container {
        margin-top: 50px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 100% 1fr;
    }

    .content__loan {
        backdrop-filter: none;
        margin: 0 20px;
    }
}