.btn-links {
  text-align: center;
  background-color: var(--text-color-head);
  color: white;
}

.number-cart {
  display: inline-block;
  width: 30px;
  height: 28px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  margin-left: -1px;
  text-align: center;
  top: 50px;
  color: white;
}

.car:hover {
  color: black;
}

/* css form */

