/* Definir variables */
:root {
    /* Fondos */
    --bg-color-light: rgb(236, 236, 236);
    --bg-color-dark: #1a2138;
    --bg-color-darkness: #090c14;

    /* Textos */
    --txt-color-light: #ededee;
    /* --txt-color-secondary: #d1d8d8 */
    --txt-color-lighblue: #17a2b8;
    --txt-color-lighblue-hover: #17b1c9;
    --txt-color-p: #262626;
    --txt-color-secondary: #8e8e8e;
    --txt-color-dark: #1a2138;

    /* Alertas  */
    --color-success: #27a875;
    --color-error: #dc3545;
    --primary-color: #0275d8;
    --color-warning: #ffc107;

    /*Botones*/
    --bg-primary: #303d69;
    --bg-light-primary: #485c9d;
    --bg-secondary: #e05260;
    --bg-light-secondary: #e87d88;
    --bg-alternative: #489d4e;

    /* Hover colors */
    --text-color-head: #50ac56;
    --text-color-head-hover: #5eda66;
    --text-color-head-secondary: #418f46;
    --border-color: #8c8c8c;
    --bg-front-color: #222b45;
    --text-color-hover: #223745;
}

/* Blue Learning Book */

/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CONTAINER */
.container {
    margin-top: 50px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

.content {
    background: #ededee;
    grid-column: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 15px rgba(94, 218, 102, .08);
    padding: 30px 50px;
}


/* NAVBAR */
.nav {
    /* position: absolute; */
    width: 100%;
    height: 60px;
    background: var(--bg-front-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-right: 60px;
}

.nav__list-item {
    margin: 0 20px;
    font-weight: 300;
}

.nav__list-item:first-child {
    margin-right: auto;
    margin-left: 100px;
    font-size: 1.5rem;
}

.icon__burger {
    display: none;
}

.item__link {
    color: #fff;
    text-decoration: none;
}

.item__logo {
    color: var(--text-color-head);
    font-weight: 700;
}

.item__link:hover {
    color: var(--text-color-head)
}

.item__account {
    display: none;
}

.item__car {
    display: none;
}

.item__display {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.item__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.btn-links {
    text-align: center;
    background-color: var(--text-color-head);
    color: white;
    margin: 10px 0;
}

.number-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #429648;
    border-radius: 50%;
    top: -10px;
    right: -14px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.car {
    position: relative;
    color: white;
}

.car:hover {
    color: #429648;
}

.item__user-img {
    width: 40px;
    height: 40px;
    /* background-color: var(--text-color-head); */
    border-radius: 50%;
    /* padding: 2px; */
    object-fit: cover;
}

.item__username {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color-head)
}

/* MENU DESPLEGABLE */
.item__menu {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    right: 40px;
    top: 75px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    list-style: none;
    background: var(--bg-color-dark);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
}

@keyframes displayUp {
    0% {
        opacity: 1;
        top: 75px;
        height: 300px;
    }

    99% {
        opacity: 1;
    }

    100% {
        top: 60px;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
}

.item__menu.close {
    animation: displayUp 0.3s ease-in-out forwards;
    pointer-events: none;
}

@keyframes displayDown {
    0% {
        top: 60px;
        height: 0;
        overflow: hidden;
    }

    100% {
        top: 75px;
        height: 300px;
    }
}

.item__menu.active {
    opacity: 1;
    pointer-events: all;
    /* transition: all 0.2s ease-in; */
    animation: displayDown 0.3s ease-in-out;
}

.menu__tip {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid var(--bg-color-dark);
    top: -25px;
    left: 50px;
}

.menu__option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    padding: 0 20px;
    color: var(--txt-color-light);
    cursor: pointer;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
}

.menu__option:hover {
    background-color: var(--bg-front-color);
}

.menu__greeting {
    width: 100%;
    padding: 20px 20px 0 20px;
    color: var(--txt-color-secondary);
}

.greeting_head {
    font-size: 25px;
    margin-left: auto;
    text-align: left;
    color: var(--text-color-head);
}

.greeting__name {
    text-align: left;
    font-size: 12px;
    color: var(--txt-color-light);
    font-weight: 100;
}

.greeting__divisor {
    width: 100%;
    margin: 15px 0 0 0;
    height: 1px;
    background-color: var(--border-color);
}

.option__logout {
    background: var(--color-error);
    text-align: center;
    color: var(--bg-color-light);
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.option__logout:hover {
    background-color: #fa4b5c;
}

/* CONTENIDO PRINCIPAL */

.title__secondary{
    color: var(--txt-color-p);
    margin-bottom: 20px;
}

.content__body-books{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: ; */
    row-gap: 20px;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card__body{
    position: relative;
    overflow: hidden;
    max-width: 250px;
    color: var(--txt-color-p);
}

.card__body:hover::before{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, transparent, rgba(24,24,24,.8) 95%);    
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card__book-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card__cover{
    height: 330px;
    max-width: 250px;
}

.card__book-actions{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 15px 15px 0;
}

.card__body .book__icon::before {
    font-family: "Font Awesome 5 Free";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: transparent;
    font-style: normal;
    width: 40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--txt-color-light);
    cursor: pointer;
}

.book__icon:hover::before{
    background-color: rgba(80, 172, 86, .4);
    border-color: #489d4e;
}

.card__body:hover .icon__details::before{
    content: '\f129';
    color: var(--txt-color-light);
    font-family: fontawesome;
}

.card__body:hover .icon__fav::before {
    content: '\f004';
    color: var(--txt-color-light);
}

.card__body:hover .hasFav::before {
    content: '\f004';
    font-weight: bold;
    color: var(--text-color-head);
    border-color: var(--text-color-head);
}

.card__book-title{
    margin-top: 10px;
    width: 250px;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--txt-color-p);
}

.empty__books{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.fa-frown{
    color: var(--color-warning);
    font-size: 4rem;
}
.empty__books-text{
    color: var(--color-warning);
}

.empty__books-btn{
    background: var(--text-color-head);
    color: var(--txt-color-light);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.empty__books-btn:hover{
    background: var(--text-color-head-hover);
}

/* FOOTER */

.footer {
    align-self: flex-end;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-color: var(--bg-color-darkness);
    color: var(--txt-color-light);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 50px;
    grid-template-areas:
        "contact logo pages"
        "copyright copyright copyright";
}


/* Seccion de contactos */
.footer__contact {
    grid-area: contact;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.contact__container {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.contact__name {
    font-style: 0.7rem;
    font-weight: 400;
    color: var(--text-color-head-secondary);
}

.contact__email {
    font-size: .7rem;
    font-family: 100;
    font-weight: 300;
    color: var(--txt-color-secondary);
}

.contact__socialNet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.contact__tel {
    font-weight: 300;
    font-size: 0.8rem;
}

.socialNet__link {
    color: var(--text-color-head);
    font-size: 1rem;
}

/* Seccion del logo */
.footer__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seccion de los vinculos */
.footer__pages {
    grid-area: pages;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pages__user,
.pages__books,
.pages__request {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pages__title,
.pages__link {
    text-decoration: none;
    color: var(--txt-color-light);
}

.pages__link {
    font-size: 14px;
    font-weight: 300;
}

.pages__title {
    color: var(--text-color-head);
    font-size: 18px;
}

.logo__img {
    width: 80px;
}

.copyright {
    margin-top: 20px;
    grid-area: copyright;
    color: rgb(229, 226, 226);
    background: #000;
    text-align: center;
}


@media screen and (max-width: 1400px) {

    .footer {
        grid-template-columns: auto autp auto;
        grid-template-rows: 400px 30px;
        grid-template-areas:
            "contact logo pages"
            "copyright copyright copyright";
    }

    .footer__contact {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }

    .footer__pages {
        display: flex;
        gap: 0px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 100px;
    }

    .pages__user,
    .pages__books,
    .pages__request {
        text-align: center;
    }

    .footer__logo {
        /* display: none;
         */
         max-width: 40px;
    }

}

/* ADAPCION PARA MOVILES */

@media screen and (max-width: 1000px) {
    .container{
        grid-template-columns: 100%;
        column-gap: 20px;
    }
    .content{
        grid-column: auto;
        backdrop-filter: none;
    }
    .content__body-books{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}


@media (max-width: 900px) {

    /* NAVBAR */

    .nav__list-item:first-child {
        display: block;
        margin-left: 50px;
    }

    .nav__list-item {
        display: none;
    }

    .nav.active {
        position: absolute;
        height: 100%;
        z-index: 2000;
    }

    .nav.active .nav__list-item {
        display: block;
    }

    .nav.active .nav__list {
        width: 100%;
        position: relative;
        flex-flow: column;
        align-items: flex-start;
        margin: 0 20px;
        padding: 40px 0 10px 0;
        border-radius: 5px;
        background-color: var(--bg-color-dark);
    }

    .icon__burger {
        display: inline;
        position: absolute;
        font-size: 2rem;
        color: var(--txt-color-light);
        right: 20px;
        cursor: pointer;
    }

    .icon__burger::before {
        content: '\f0c9';
        font-family: fontawesome;
    }

    .nav__item-car {
        display: none;
    }

    .car {
        display: none;
    }

    .nav.active .icon__burger {
        top: 10px;
        font-size: 2rem;
    }

    .nav.active .icon__burger::before {
        content: '\f00d';
        color: var(--text-color-head-secondary);
        font-size: 3rem;
    }

    .nav.active .nav__list-item {
        font-size: 2.1rem;
        font-weight: 500;
        padding: 20px;
    }

    .nav.active .item__account {
        display: initial;
    }

    .nav.active .item__car {
        display: initial;
    }

    .nav.active .nav__list-item:first-child {
        display: none;
    }

    .nav.active .item__session {
        display: none;
    }

    /* FOOTER */
}

@media screen and (max-width: 600px) {

    .content__body-books{
        grid-template-columns: auto;
        justify-content: center;
    }

    .footer {
        padding-top: 20px;
        grid-template-columns: 100%;
        grid-template-rows: auto 120px auto 30px;
        column-gap: 30px;
        grid-template-areas:
            "contact"
             "logo" 
             "pages"
            "copyright";
    }

    .footer__contact {
        width: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__pages {
        width: auto;        
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .pages__user,
    .pages__books,
    .pages__request {
        text-align: center;
    }

    .footer__logo {
         max-width: 100%;
         display: flex;
    }

}

@media (max-width: 350px) {
    .nav.active .nav__list {
        gap: 25px;
    }

    .nav.active .nav__list-item {
        font-size: 1.5rem;
    }

    .nav.active .icon__burger::before {
        font-size: 2.5rem;
    }

    .nav.active .icon__burger {
        right: 0px;
    }
}